{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dutty - Home{% endblock title %}
{% block body %}
<div class="jumbotron">
    <h2>
        Dutty, multipropriedade!
    </h2>
    <p>
        A vida é agora, viva mais com a multipropriedade"
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#">Saiba mais</a>
    </p>
</div>
<!-- MAIL CHIMP -->
<h4 class="mt-4">Subscribe</h4>
<form action="https://gmail.us4.list-manage.com/subscribe/post?u=4c9573a39fabd6c508a19c4f7&amp;id=ae86c278f4"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
      class="form-row align-items-center" target="_blank" novalidate>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="mce-EMAIL">Email</label>
            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                   placeholder="exemplo@email.com">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="mce-FNAME">Email</label>
            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                      name="b_4c9573a39fabd6c508a19c4f7_ae86c278f4"
                                                                                      tabindex="-1" value=""></div>
        <div class="col-auto">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                      class="btn btn-primary"></div>
        </div>

    </div>
</form>
{% endblock body %}